body {
  margin: 0 auto;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
}
h1 {
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h2 {
  font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
h3 {
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  margin-bottom: 5px;
}
p {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}
blockquote {
	font-size: 21px;
	font-style:italic;
	font-variant: normal;
	font-weight: 500;
	line-height: 30px;
}
#myMenu {
  position:fixed;
  top: 10px;
  right: 10px;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: right;
}


#myMenu li {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  color: #000;
	background: #fff;
	-webkit-border-radius: 10px;
            border-radius: 10px;
}

#myMenu li.active {
	background: #FFE0B2;
}

#myMenu li a{
  text-decoration: none;
  color: #000;
  -webkit-transition: color 1s ease-in; /*safari and chrome */
  -moz-transition: color 1s ease-in; /* firefox */
  -o-transition: color 1s ease-in; /* opera */
}

.section {
  padding: 0px 20px 0px 20px;
}

.home {
  background-image: url("home.jpg");
  background-size: cover;
}

.title {
  display: inline-block;
  text-align: left;
  padding-left: 400px;
}

.bio {
  background-image: url("footsteps.JPG");
  background-size: cover;
}

.about {
  margin: 10px;
  padding-right: 60px;
  padding-left: 60px;
}

.skills {
  background-image: url("lemons.JPG");
  background-size: cover;
}

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.right {
  width: 50%;
}

.contact {
  background-image: url("building.JPG");
  background-size: cover;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 667px) {
  body {
    margin: 0 auto;
  }
  .section {
    margin: 0 auto;
  }
  #myMenu {
    padding-top: 20px;
    text-align: center;
  }
  #myMenu li {
    font-size: 30px;
  }
  .home {
    background-image: url("home-mobile.jpg");
    background-size: cover;
  }
  .title {
    padding-left: 30px;
  }

  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 45px;
  }
  h3 {
    font-size: 30px;
  }
  blockquote {
    font-size: 38px;
  }
  p {
    font-size: 24px;
    line-height: normal;
  }
  #name {
    font-size: 90px;
  }
  #desc{
    font-size: 40px;
  }
  .container {
    display: block;
  }
  .right {
    width: auto;
  }
  .skills {
    background-image: url("lemons-mobile.jpg");
    background-size: cover;
  }
}
